body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

a {
    text-decoration: none !important;
    color: #949798 !important;
}

ul {
    list-style-type: none;
    margin: 17px 0 !important;
    padding: 0px !important;
}

ul li {
    float: left;
    font-family: tahoma;
    font-size: 12px;
    margin-bottom: 8px;
    clear: left;
    color: #949798;
}

nav {
    display: flex;
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
    border-bottom: 1px solid;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    display: block;
    width: 100%;
}

h1,h2,h3,h4,h5 {
    text-align: center;
    margin: 5px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-self: center;
}

.brands img {
    width: 100px;
    height: 100px;
    margin: 50px;
    flex: 0 0 150px;
}

footer {
    background: #222222;
    width: 100%;
    float: left;
    color: white;
    font-family: arial;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.logo-img {
    height: 50px;
    width: 50px;
}

.nav-title {
    margin-left: 20px;
    width: auto;
}

.nav-title span {
    white-space: nowrap;
}

.nav-links {
    margin: 0 50px;
    width: 100%;
}

.nav-links a {
    margin-right: 20px;
}

.nav-links :last-child {
    float: right;
    margin: 0;
}

.instruments {
    display: flex;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    margin: auto;
}

.card-badges {
    display: flex;
    width: 100% ;
    height: 20px;
    padding-right: 20px;
}

.card-badges i {
    margin: 0 0 0 auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content img {
    width: 200px;
    height: 200px;
}

.icon-heart {
    background-image: url('./assets/icons/heart.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 1px;
    width: 1px;
    padding: 10px;
}

.card-buttons {
    display: flex;
    justify-content: center;
    margin: 5px;
}
